* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
 margin: 0 auto;
 width: 70%;
}

.flex {
    display: flex;
}

ul {
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}