main {
    background-image: url("../images/fondo-pag-speciali.jpg");
}

section {

    padding: 40px;

    h2 {
        text-transform: uppercase;
        font-weight: 600;
        color: $main_color;
    }
}

.products {
    padding: 40px;
    color: $main_color;
    background-color: $background_product;

    h1 {
        text-align: center;
    }

    img {
        width: 100%;
    }

    p {
        font-weight: 600;
    }
}


.cards {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;

    .card {
        width: calc((100% / 3) - 20px);
        margin: 10px;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}